/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* 
Small	sm	≥576px
Medium	md	≥768px
Large	lg	≥992px
Extra large	xl	≥1200px 

font-family: 'Work Sans', sans-serif; HEADER
font-family: 'Merriweather', serif; BODY

*/

body{
    font-size: 16px;
    font-family: 'Merriweather', serif;
}

/* -------------HEADER------------- */

header{
height: 40px;
background-color: #0f0f0f;
width: 100%;

}

nav{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul{
    display: flex;
    flex-direction: row;
    justify-content:center;
    gap: 2em;
    font-size: 1.25rem;
}

nav ul li:hover{
    text-shadow: #ffffff 0 0 10px;
    transition: 0.5s;
}

nav ul li a {
    color: antiquewhite;
    text-decoration: none;


}

/* --------------MAIN-------------- */

main{
    display: flex;
    text-align: center;
}

span{
    color: maroon;
}

h1{
    font-family: 'Work Sans', sans-serif; 
    font-weight: 700;
    font-size: 3.5rem;
}

h2{
    font-family: 'Merriweather', serif;
    font-size: 1.75rem; 
}

.welcome{
display: flex;
flex-direction: column;
justify-content:center;
gap: 1rem;
height: 650px;
background-color: antiquewhite;
width: 50%;
padding: 20px;
}

.experience{
    display: flex;
    flex-direction: column;
    justify-content:center;
    gap: 3rem;
    height: 650px; 
    background-color: #0f0f0f; 
    color: antiquewhite;
    width: 50%; 
    padding: 20px;
    line-height: 2;
}

.icons{
    display: flex;
    flex: row wrap;
    align-items: center;
    justify-content:space-around;
}


@media(max-width: 768px){
    main{
        flex-direction: column;
    }

    .welcome, .experience {
        width: 100%;
    }
}

/* ------------FOOTER-------- */

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    background-color: #0f0f0f;
    color: antiquewhite;
}

@media(max-width: 768px){
    #main_footer{
        background-color: antiquewhite;
        color:#0f0f0f;
    }
}

/* ------------CONTACT PAGE---------- */

.container{
    background-color: antiquewhite;
    height: 650px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

/* ---------------PROJECTS PAGE------------ */
#projects-header{
text-align: center;
margin: 40px;
}

.card{
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    margin: 20px 80px;
}

.content{
    display: flex;
    gap: 2rem;
    flex-direction: row;
    margin-top: 20px;
}

/* .content-opposite{
    display: flex;
    gap: 2rem;
    flex-direction: row-reverse;
    margin-top: 20px;
} */

.card img{
    height: 250px;
}

.projects-container{
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
}

.made_with{
    text-align: center;
    background-color: #0f0f0f;
    color: antiquewhite;
    padding: 20px;
    margin-top: 10px;
    margin-left: 0px;
    width: 350px;
    border-radius: 1rem;
}

.btn{
    width: 350px;
    text-align: center;
    margin-top: 10px;
}



.made_with p{
    margin-bottom: 5px;
}

@media(max-width: 768px){
    .card{
        text-align: center;
    }
    .content{
        flex-direction: column-reverse;
    }
    .card img{
        align-self: center;
    }
    .made_with{
        margin: 10px auto;
    }
}